* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
header {
    background-color: #2c2c2c;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}
nav a {
    color: white;
    transition: all 0.3s;
}
nav a:hover {
    color: orange;
}
main {
    padding: 1rem 2rem;
    height: 90vh;
}
main ul {
    list-style: none;
    line-height: 2;
}
input {
    padding: 0.5rem;
    width: 20rem;
}
.btn {
    padding: 0.5rem;
    background-color: #2c2c2c;
    color: white;
}
.txt {
    font-size: 1.5rem;
    list-style: none;
}
footer {
    padding: 1rem 2rem;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    color: white;
}